.note {
    background-image: linear-gradient();
    background: linear-gradient('royalblue', 'blueviolet');
    color: rgb(85, 85, 184);
    /* color: rgb(79, 79, 155); */
    color: rgb(70, 31, 90);
    color: lightgray;
    color: #6D7B8D;
    position: relative;
    text-transform: lowercase;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: serif;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(33, 150, 243);


}